html{
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	background-color: #DCDCDC;
	color: #fff;
	height: 100%;

}
/* navbar */
nav {
    width: 100%;
    background-color: #060c21;
}
ul {
    width: 80%;
    margin: 0 auto;
    padding: 0;
}
ul li {
    list-style: none;
    display: inline-block;
    padding: 20px;
}
ul li.modern:hover {
    background-color: hsl(348, 100%, 61%);
}
ul li a {
    color: #fff;
    text-decoration: none;
		font-family: 'Mukta', sans-serif;
}

.toggle {;
    width: 100%;
    padding: 10px 10px;
    background-color: #001f44;
    box-sizing: border-box;
    color: #fff;
    font-size: 30px;
    display: none;
}
.toggle.menu.content {
	width: auto;
}
.toggle.menu.content h4{
	display: inline-block;
	position: relative;
	margin: 0;
	font-size: 30px;
	color: white;
	padding-right: 5px;
	font-family: 'Baloo Thambi', cursive;
}
.toggle.menu.content h5{
	position: relative;
	display: inline-block;
	margin: 0;
	font-size: 20px;
	color: pink;
	font-family: 'Pacifico', cursive;
}
.toggle.menu.content.img {
	position: absolute;
	display: inline-block;
	right: 0%;
}
.logo h4{
	display: inline-block;
	position: relative;
	margin: 0;
	font-size: 30px;
	color: white;
	padding-right: 5px;
	font-family: 'Baloo Thambi', cursive;
}
.logo h5 {
	position: relative;
	display: inline-block;
	margin: 0;
	font-size: 20px;
	color: pink;
	font-family: 'Pacifico', cursive;
}
@media (max-width:1150px)
{
    .toggle
    {
        display: block;
    }

    ul {
        width: 100%;
        display: none;
    }

    ul li {
        display: block;
        text-align: center;
    }

    .active {
        display: block;
    }
    .responsive {
	    display: none;
    }
    .full.width.bar {
	    display: none;
    }

		.hidden{
			display: none;
		}
		.second.bar{
			width: 100%;
			min-height: auto;
			background-image: linear-gradient(to bottom right, hsl(348, 100%, 61%), hsl(348, 100%, 70%));
		}
}
/* boxes*/
.container.card
{
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
	grid-template-rows: auto;
	grid-gap: 0 15px;
	padding-top: 50px;
	padding-bottom: 50px;
}
.container.card  .box.card
{
	position: relative;
	height: 400px;
	background: #060c21;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #000;
	font-family: 'Mukta', sans-serif;
}

.container.card  .box.card:after
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: rgba(255,255,255,0.05);
	pointer-events: none;
}
.content.card
{
	position: relative;
	padding: 20px;
	transform: translateY(40px);
}
.content.card h2
{
	position: absolute;
	top: -60px;
	right: 20px;
	margin: 0;
	padding: 0;
	font-size: 10em;
	color: rgba(255,255,255,.05);
	transition: 0.5s;
}
.box.card:hover  .content.card h2
{
	top: -140px;
}
.box.card:hover  .content.card h3
{
	margin: 0 0 10px;
	padding: 0;
	font-size: 24px;
	font-weight: 500;
	color: #fff;
	font-family: 'Mukta', sans-serif;
}
.box.card  .content.card p
{
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 16px;
	font-family: 'Mukta', sans-serif;
}
.box.card  .content.card a
{
	position: relative;
	margin: 0 0 0;
	padding: 10px 20px;
	text-decoration: none;
	border: 1px solid #fff;
	display: inline-block;
	color: #fff;
	transition: 0.5s;
	transform: translateY(-40px);
	opacity: 0;
	visibility: hidden;
}
/* button color */
.box.card:hover  .content.card a
{
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
}
/* button color */
.box.card  .content.card a:hover
{
	color: #000;
	background: #fff;
}

/* body content 100% */
.body.content {
	position: relative;
	width: 100%;
	top: 0;
	right: 0;
	left:0;

}
/* body content 80% */
.body.eighty{
	width: 80%;
	margin: auto;
}

/* body content 70% */
.body.seventy{
	width: 70%;
	margin: auto;
}


/* intro content */
.full.width.bar{
	width: 100%;
	margin: auto;
	margin-bottom: 30px;
	min-height: auto;
	background-image: linear-gradient(to bottom right, hsl(348, 100%, 61%), hsl(348, 100%, 70%));
}
.row.bar.hidden.text1{
	display: none;
	text-align: center;
	position: relative;
	margin: 0;
	font-size: 20px;
	color: black;
	font-family: 'Baloo Thambi', cursive;
}

.row.bar.hidden.text2{
	display: none;
	text-align: center;
	right: 20%;
	margin: 0;
	font-size: 10px;
	color: black;
	font-family: 'Pacifico', cursive;
}
.full.width.bar.content{
	width: 70%;
	margin: auto;
	display: block;
}
.full.width.bar.content h5 {
	font-family: 'Lato', sans-serif;
}

.full.width.bar h1 {
	position: relative;
	margin: 0;
	padding-left: 20px;
	font-size: 70px;
	color: black;
	font-family: 'Baloo Thambi', cursive;
}
.full.width.bar h2 {
	position: relative;
	right: 20%;
	text-align: right;
	margin: 0;
	padding-left: 20px;
	font-size: 30px;
	color: black;
	font-family: 'Pacifico', cursive;
}
.full.width.bar h3 {
	position: relative;
	margin: 0;
	padding-left: 20px;
	padding-top: 20%;
	font-size: 25px;
	color: black;
	max-width: 80%;
	font-family: 'Mukta', sans-serif;

}
.column.bar1 {
	float: left;
	width: 50%;
	padding-top: 30px;
	padding-bottom: 10px;
}
.column.bar2 {
	float: left;
	width: 50%;
	padding-top: 30px;
	padding-bottom: 10px;
}

.row.bar:after {
  content: "";
  display: table;
  clear: both;
}

/* resposive */
.responsive {
  width: 100%;
  height: auto;
}

.responsivetext {
	width: 100%;
	height: auto;
}
.second.bar{
	width: auto;
	min-height: auto;
	background-image: linear-gradient(to bottom right, hsl(348, 100%, 61%), hsl(348, 100%, 70%));
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	padding-top: 20px;
	padding-left: 20px;
	margin-bottom: 30px;
	padding-bottom: 20px;
	color: black;
	text-align: center;
}
.second.bar h1{
	text-align: center;
	font-size: 40px;
	margin: 0;
}
/* stepbystep */
.stepbystep{
	width: auto;
	height: auto;
	margin-bottom: 10px;
	font-family: 'Mukta', sans-serif;
	background-image: linear-gradient(to bottom right, hsl(348, 100%, 61%), hsl(348, 100%, 70%));
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 25px;
}
.stepbystep h2{
	text-align: center;
}

.column.stepbystep {
	align-content: center;
	float: left;
	flex: 50%;
	min-width: 45%;
	padding-top: 30px;
	padding-bottom: 10px;
	margin: 10px;
}

.row.stepbystep:after {
  content: "";
  display: flex;
  clear: both;
}

.step.info{
	width: auto;
	height: auto;
	margin-bottom: 10px;
	text-align: center;
	font-family: 'Mukta', sans-serif;
	font-size: 20px;
	background-color: #060c21;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 25px;
}

.foot{
	width: 100%;
	margin: auto;
	min-height: 50px;
	background-color: #060c21;
	padding-top: 20px;
	text-align: center;
	font-family: 'Mukta', sans-serif;
	font-size: 15px;
}
.foot a{
	text-decoration: none;
	color: white;
}
.foot a:hover{
	text-decoration: none;
	color: red;
}
/* paralaxa */
/*
header{
	box-sizing: border-box;
	min-height: 100vh;
	position: relative;
	transform-style: inherit;
	width: 100vw;
}


header, header:before{
	background: 50% 50% / cover;
}

header::before{
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	background-image: url("mono.JPG");
	background-size: cover;
	transform-origin: center center 0;
	transform: translateZ(-1px) scale(2);
	z-index: -1;
	min-height: 100vh;
}
*/

/* paralax */
.parallax {
  /* The image used */
  background-image: url("mono.webp");
  /* Full height */
  width: 100%;
  height: auto;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

		position: relative;
	transform-style: inherit;
}

.parallax:before{
	background: 50% 50% / cover;
}


input {
  box-sizing: border-box;
}

input[type=text], textarea {
  width: 100%;
	display: grid;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input, select {
  width: 33.3%;
	line-grid: initial;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #060c21;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #001f44;
}

.container {
  border-radius: 5px;
  padding: 20px;
}




/* Clear floats after the columns */


.row:after {
  content: "";
  display: table;
  clear: both;
}

#id_description {
    width: 98%;
    height: 100px;
}

#id_email {
    width: 100%;
		padding: 12px;
		height: auto;
	  border: 1px solid #ccc;
    border-radius: 4px;
}
#id_file {
    width: 100%;
		padding: 12px;
		height: auto;
    border-radius: 4px;
}