{% extends "base.html" %}
{% block title %}NativeService API - Wycena wysłana{% endblock %}
{% block content %}

<div class="second bar">
    <h1>
		Wycena wysłana do klienta.
	</h1>
    <p>
        Nie używaj opcji wstecz. Zamknij zakładkę lub okno przeglądarki.
    </p>
</div>
<div class="body seventy">
    <!-- container -->
    <div class="stepbystep">
        <div class="container">
            <p>
                W razie potrzeby skontaktuj się z osobą odpowiedzialną za wsparcie techniczne.
            </p>
            <p>
                Pamiętaj, formularz możesz wysłać tylko jeden raz!
            </p>
        </div>
    </div>
</div>
{% endblock %}