{% extends "base.html" %} 
{% block title %}NativeService API - Potwierdź warunki wyceny{% endblock %}
{% block content %}
{% load static %}
<div class="second bar">
    <h1>
		Przy pomocy Dotpay dokonaj płatności na umówioną kwotę.
	</h1>
    <p>
        Zaraz po otrzymaniu wpłaty przystępujemy do realizacji zlecenia, bo czas to pieniądz.
    </p>
</div>
<div class="body seventy">
    <!-- container -->
    <div class="stepbystep price">
			<div class="box price">
				<p>
					DOTPAY PLUGIN<br>
					cena: {{ price }}
				</p>
			</div>
		</div>
</div>

{% endblock %}